.ipynb_checkpoints/**
**/.ipynb_checkpoints/**
__pycache__
.DS_Store
.env
*.pyc
test_api.paw
data/am
data/douhet
data/demo/hide
ipython/data
ipython/analysis
ipython/*.xlsx
.devServer/
lib/interfaces/electron/Electron.app
lib/interfaces/electron/thin/app/dist
lib/interfaces/electron/full/app/dist
lib/interfaces/docker/abgrid-fastapi.tar
todo.md
jwt_token.yaml
venv
.vscode
licenser/licenses